@import "./../../../styles/Include.scss";

.quickLinks {
    background-color: $brand-lg;
    color: white;

    h4 {
        color: white;
    }
    .quickLinks-link {
        padding: 1rem;
        border-bottom: solid $white 1px;

        @include media-breakpoint-up(sm) {
            border-right: solid $white 1px;

            border-left: solid $white 1px;

            &:first-of-type {
                border-left: solid $white 1px;
            }
        }

        @include media-breakpoint-up(md) {
            border-left: none;

            &:first-of-type {
                border-left: solid $white 1px;
            }
        }

        p {
            padding-bottom: 2rem;
        }

        .btn {
            position: absolute;
            bottom: 1rem;
            display: block;
        }

        img,
        svg {
            width: 30px;
            height: 30px;
            position: absolute;
            right: 1rem;
            bottom: 0.5rem;
            display: block;
        }
    }
}
