@import "./../../../styles/Include.scss";

.Arrow{

    .Arrow-Container{
        img{
            width: 300px;
            height:100px;
            display: block;
            margin:auto;
        }
    }
}