import { ReactNode } from "react"

const {{name}} = (props: { 
  className?:string
}) => {

    const { 
      className=""
    } = props;

    return (
      <div className={`{{name}} ${className}`}>
      </div>
    )
}

export default {{name}};