@import "./../../../styles/Include.scss";

.Layout {
    .Layout-Page {
        display: grid;
        min-height: 100vh;
        grid-template-rows: auto 1fr auto;

        .Layout-Footer {
            display: grid;
            align-self: end;
        }
        .Layout-Content {
        }
    }
}
