@import 'Variables.scss';

body {
    font-family: "Poppins", sans-serif
}


h1,h2,h3,h4,h5{
    font-family: "Open Sans",sans-serif;
    color:$brand-lg;
    
}
h2{
    margin-top:1.5rem;
}

h3{
    padding-bottom: 0.5rem;
}

h1,h2,h3,h4,h5{
    &.blue{
        color:$brand-blue;
    }
    &.grey{
        color:$brand-grey;
    }
    &.red{
        color:$brand-red;
    }
    &.orange{
        color:$brand-orange;
    }
    &.yellow{
        color:$brand-yellow;
    }
    &.darkGreen{
        color:$brand-dg;
    }
    &.lightGreen{
        color:$brand-lg;
    }
    &.black{
        color:$brand-black;
    }
}

a{
    color:$brand-lg;
    &:hover{
        color:$brand-dg;
    }


}

p{
    &.lead{
        strong{
            font-weight: 700 ;
        }
    }
}

.dark{
    h1,h2,h3,h4,h5{
        color:$white;
    }

    p{
        color:$white;
    }
}

blockquote{
    border-left: $brand-lg solid 10px ;
    padding-left:1rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    margin-left: 10px;
    font-style: italic;
    font-size: 1.2rem;
    span{
        font-style: normal;
        font-size: 1rem;
        display: block;
        margin-left:2rem;
        margin-top: 1rem;
    }
}

.small{
    font-size: 0.75em;
}