$brand-lg: #93c13e;
$brand-dg: #235d2f;
$white: #ffffff;
$black: #000000;
$brand-grey: #111111;
$brand-red: #ff3f0b;
$brand-yellow: #f9dd05;
$brand-orange: #fd6a02;


$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
)