@import "./../../../styles/Include.scss";

.BannerImage {
    background-position-y: 50%;
    background-size: cover;
    height: 300px;
    background-repeat: no-repeat;
    
    .BannerImage-Container {
        border-left: 10px $brand-lg solid;
        margin-top:50px;
        margin-bottom:50px;
        h1 {
            text-shadow: 0 0 8px $black;
            color: $white;

            font-weight: 800;
            font-size: 2.5rem;
            max-width: 80%;
         

            @include media-breakpoint-up(md) {
                font-size: 4rem;
            }
            @include media-breakpoint-up(lg) {
                font-size: 5rem;
            }
        }
        h3 {
            text-shadow: 0 0 8px $black;
            color: $white;

            font-weight: 800;
            font-size: 1.5rem;
            max-width: 80%;

            @include media-breakpoint-up(md) {
                font-size: 1.75rem;
            }
        }
    }

    @include media-breakpoint-up(md) {
        height: 500px;
    }
}
